.box {
    height: 785px;
    position: relative;
    width: 1200px;
  }
  
  .box .group {
    height: 785px;
    left: 0;
   overflow: hidden;
    top: 0;
    width: 1200px;
  }
  
  .box .frame {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    left: 590px;
    position: absolute;
    top: 0;
  }
  
  .box .text-wrapper {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(228, 118, 178) 0%, rgb(255, 136, 181) 49.46%, rgb(228, 118, 178) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 40px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    text-fill-color: transparent;
    white-space: nowrap;
    width: fit-content;
  }
  
  .box .div {
    color: #ffffff;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .box .overlap {
    height: 580px;
    left: 0;
    position: absolute;
    top: 205px;
    width: 1200px;
  }
  
  .box .group-2 {
    height: 580px;
    left: 10px;
    position: absolute;
    top: 0;
    width: 1200px;
  }
  
  .box .overlap-group-wrapper {
    height: 28px;
    left: 0;
    position: absolute;
    top: 276px;
    width: 1200px;
  }
  
  .box .overlap-group {
    height: 28px;
    position: relative;
  }
  
  .box .rectangle {
    -webkit-backdrop-filter: blur(24px) brightness(100%);
    backdrop-filter: blur(24px) brightness(100%);
    background: linear-gradient(
      180deg,
      rgba(70, 56, 93, 0.8) 0%,
      rgba(98, 77, 127, 0.8) 48.81%,
      rgba(91, 70, 152, 0.8) 100%
    );
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(128, 223, 200), rgb(200, 177, 222) 47.92%, rgb(91, 85, 223) 100%) 1;
    border-radius: 30px;
    height: 14px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 1200px;
  }
  
  .box .group-3 {
    height: 28px;
    left: 378px;
    position: absolute;
    top: 0;
    width: 750px;
  }
  
  .box .ellipse {
    background: linear-gradient(180deg, rgb(220, 77, 129) 0%, rgb(138, 48, 153) 100%);
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 14px;
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .box .ellipse-2 {
    background: linear-gradient(180deg, rgb(220, 77, 129) 0%, rgb(138, 48, 153) 100%);
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 14px;
    height: 28px;
    left: 308px;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .box .ellipse-3 {
    background: linear-gradient(180deg, rgb(220, 77, 129) 0%, rgb(138, 48, 153) 100%);
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 14px;
    height: 28px;
    left: 616px;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .box .ellipse-4 {
    background: linear-gradient(180deg, rgb(220, 77, 129) 0%, rgb(138, 48, 153) 100%);
    border: 5px solid;
    border-color: #ffffff;
    border-radius: 14px;
    height: 28px;
    left: 924px;
    position: absolute;
    top: 0;
    width: 28px;
  }
  
  .box .group-4 {
    height: 260px;
    left: 566px;
    position: absolute;
    top: 320px;
    width: 750px;
  }
  
  .box .div-wrapper {
    height: 260px;
    left: 0;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .box .frame-wrapper {
    background-image: url(images/frame2.svg);
    background-size: 100% 100%;
    height: 256px;
    position: relative;
    top: 4px;
  }
  
  .box .frame-2 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    left: 7px;
    position: relative;
    top: 29px;
  }
  
  .box .text-wrapper-2 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(180deg, rgb(232, 121, 180) 0%, rgb(233, 122, 180) 100%);
    background-clip: text;
    color: transparent;
    font-family: "Montserrat-Bold", Helvetica;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-fill-color: transparent;
    width: fit-content;
  }
  
  .box .marketing-campain {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-align: center;
    width: 255px;
  }
  
  .box .overlap-wrapper {
    height: 260px;
    left: 621px;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .box .overlap-2 {
    background-image: url(/images/frame2.svg);
    background-size: 100% 100%;
    height: 256px;
    position: relative;
    top: 4px;
  }
  
  .box .frame-3 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    left: 25px;
    position: relative;
    top: 48px;
  }
  
  .box .p {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .box .group-5 {
    height: 260px;
    left: 258px;
    position: absolute;
    top: 0;
    width: 880px;
  }
  
  .box .overlap-group-2 {
    background-image: url(images/frame1.svg);
    background-size: 100% 100%;
    height: 256px;
  }
  
  .box .frame-4 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    left: 34px;
    position: relative;
    top: 43px;
  }
  
  .box .group-6 {
    height: 260px;
    left: 612px;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .box .overlap-3 {
    background-image: url(images/frame1.svg);
    background-size: 100% 100%;
    height: 256px;
  }
  
  .box .frame-5 {
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    gap: 12px;
    left: 28px;
    position: relative;
    top: 34px;
  }
  
  .box .rectangle-2 {
    background: linear-gradient(180deg, rgb(7, 0, 30) 6.96%, rgba(7, 0, 30, 0) 100%);
    box-shadow: 60px 4px 80px #07001ecc;
    height: 430px;
    left: 0;
    position: absolute;
    top: 66px;
    width: 142px;
  }
  
  .box .rectangle-3 {
    background: linear-gradient(180deg, rgb(7, 0, 30) 6.96%, rgba(7, 0, 30, 0) 100%);
    box-shadow: -60px 4px 80px #07001ecc;
    height: 430px;
    left: 1569px;
    position: absolute;
    top: 89px;
    transform: rotate(-180deg);
    width: 159px;
  }
  